body {
    margin: 0;
    display: flex;
    min-height: 100vh; /* Ensure body takes full viewport height */
    font-family: "Helvetica Light", Arial, sans-serif;
    letter-spacing: -0.06em; /* Kerning */
}

h3 {
    opacity: 0.5; /* Adjust the opacity value as needed */
}

.instagram-logo {
    width: 20px; /* Set the width of the Instagram logo */
    height: auto; /* Maintain aspect ratio */
    padding-bottom: 5%;
}

.container {
    display: flex;
    flex-direction: row; /* Ensure the navbar and content are side by side */
    flex: 1;
    min-height: 100vh; /* Ensure container takes full viewport height */
}

.navbar {
    background-color: #f4f4f4;
    padding: 20px;
    min-width: 300px;
    width: 50%;
    height: 100%; /* Ensure navbar takes full viewport height */
    display: flex;
    flex-direction: column;
    margin-right: 20%; /* Add margin for space between navbar and grid container */
    overflow: hidden; /* Hide overflow content */
    flex-grow: 1; /* Allow navbar to grow and fill available space */
}

.about {
    opacity: 50%;
}

.navbar h1,
.navbar h2,
.navbar h3 {
    margin: 0; /* Remove default margin */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Display ellipsis for overflow text */
    font-size: 1.5rem; /* Set initial font size */
    transition: font-size 0.2s; /* Smooth transition for font size changes */
    padding: 10px 0; /* Add padding to the top and bottom */
}

.navbar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns layout */
    grid-template-rows: auto; /* Adjust rows layout */
    gap: 20px; /* Adjust spacing between items */
    flex: 1;
    overflow: auto; /* Add scroll if content exceeds viewport */
    align-items: center; /* Center the items vertically */
    justify-items: center; /* Center the items horizontally */
    padding: 30px; /* Default padding */
}

.grid-item {
    display: flex;
    flex-direction: column; /* Arrange image and text vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center;
}

p {
    font-family: "Helvetica Light", Arial, sans-serif; /* Use the same font as body */
    text-align: center; /* Center the text */
}

a {
    text-decoration: none; /* Remove underline */
    color: black; /* Set link color to black */
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.grid-item:nth-child(odd) {
    grid-column: 1 / 2; /* Place odd items in the first column */
    grid-row: span 2; /* Span across two rows */
    margin-top: 30%; /* Set the top margin for odd items */
}

.grid-item:nth-child(even) {
    grid-column: 2 / 3; /* Place even items in the second column */
    grid-row: span 2; /* Span across two rows */
}

/* Media Queries for tablets and smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack navbar and content vertically */
    }

    .navbar {
        padding: 15px; /* Reduce padding for smaller screens */
        min-width: 50%; /* Ensure navbar takes full width */
        max-width: 80%;
        width: 100%;
    }

    .navbar h2,
    .navbar h3 {
        font-size: 1rem; /* Reduce font size for smaller screens */
    }
    .grid-item {
        margin: 1%; /* Reduce margins for smaller screens */
    }

    .grid-item:nth-child(odd) {
        margin-top: 10%; /* Reduce top margin for smaller screens */
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px; /* Scaled down padding */
    }

    .navbar h2,
    .navbar h3 {
        font-size: 0.7rem; /* Scaled down font size */
    }

    .grid-item {
        margin: 0.25% auto; /* Center grid items horizontally with equal space left and right */
        width: 90%; /* Adjusted width for grid items */
    }

    .grid-item:nth-child(odd) {
        margin-top: 2.5%; /* Scaled down top margin */
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px; /* Adjusted padding for very small screens */
    }
}
