body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    font-family: "Helvetica Light", Arial, sans-serif;
    letter-spacing: -0.06em;
}

h3 {
    opacity: 0.5;
}

.instagram-logo {
    width: 20px;
    height: auto;
    padding-bottom: 5%;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 100vh;
}

.navbar {
    background-color: #f4f4f4;
    padding: 20px;
    min-width: 300px;
    width: 300px; /* Initial width */
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure navbar stays above content */
    transition: opacity 0.5s ease, width 0.5s ease, margin-right 0.5s ease; /* Add transition for opacity, width, and margin-right */
    opacity: 1; /* Initial state */
}

.navbar.hidden {
    opacity: 0; /* Fading out the navbar instead of completely hiding it immediately */
    width: 0;
    margin-right: -300px; /* Move navbar out of visible area */
}

.navbar h1, .navbar h2, .navbar h3 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    transition: font-size 0.2s;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.grid-container {
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Adjust gap between grid items */
    align-items: center;
    justify-items: center;
    padding: 30px; /* Equal padding on all sides */
    transition: width 0.5s ease, padding 0.5s ease; /* Add transition for width and padding changes */
    width: calc(100% - 340px); /* Initial width considering navbar width and additional margin */
}

.grid-container.full-width {
    width: 100%; /* Full width when navbar is hidden */
    padding: 30px 30px; /* 30px top and bottom, 30px left and right */
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding-right: 20px; /* Adjust padding to suit your layout */
}

p, a {
    font-family: "Helvetica Light", Arial, sans-serif;
    text-align: center; 
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.grid-item:nth-child(odd) {
    grid-column: 1 / 2;
    grid-row: span 2;
    margin-top: 1%;
}

.grid-item:nth-child(even) {
    grid-column: 2 / 3;
    grid-row: span 2;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .navbar {
        padding: 15px;
        min-width: 50%;
        max-width: 80%;
        width: 100%;
    }

    .navbar h2, .navbar h3 {
        font-size: 1rem;
    }

    .grid-container.full-width {
        width: 100%; /* Full width when navbar is hidden */
        padding: 30px 30px; /* 30px top and bottom, 30px left and right */
    }

    .grid-item {
        margin: 1%;
    }

    .grid-item:nth-child(odd) {
        margin-top: 10%;
    }

    .grid-container {
        width: calc(100% - 30px); /* Adjust width to account for padding */
        padding: 15px; /* Adjust padding for smaller screens */
        gap: 15px; /* Adjust gap for smaller screens */
    }

    .grid-item {
        max-width: calc(50% - 15px); /* Adjust max-width to account for gap */
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px;
    }
    .navbar h2{
        font-size: 1.1rem;
    }
    .navbar h3 {
        font-size: 0.7rem;
    }
    .navbar ul {
        font-size: 0.8rem;
    }
    .grid-item {
        margin: 5px; /* Adjust margin for smaller screens */
        width: calc(100% - 20px); /* Adjust width to account for padding */
    }

    .grid-item:nth-child(odd) {
        margin-top: 10px; /* Adjust top margin for odd grid items */
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px; /* Adjust padding for very small screens */
        width: 100%; /* Full width on very small screens */
        gap: 10px; /* Adjust gap for very small screens */
        
    }
    .grid-container.full-width {
        width: 100%; /* Full width when navbar is hidden */
        padding: 30px 10px; /* 30px top and bottom, 30px left and right */
    }
    .grid-item {
        max-width: calc(100%); /* Adjust max-width to account for gap */
    }
}

.contact, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

form label {
    margin-bottom: 8px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #030;
}

form textarea {
    resize: none;
    height: 150px;
}
.vsshop {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    height: 100vh; /* Full viewport height for demonstration purposes */
    text-align: center; /* Center text inside inline elements */
}
.vsshop ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.vsshop a {
    font-size: 56px;
    color: #FF10F0;
}
.right-aligned {
    text-align: right;
    line-height: 2;
    padding-right: 10%;
    padding-left: 10%;
}